#primaryTableArea {
    grid-area: mitigationTable;

    & img.jobIcon {
        width: 2em;
        height: 2em;
    }
    & img.damageIndicator {
        width: 8px;
        height: 8px;
    }

    & div#actionGrid {
        display: grid;
        grid-template-columns: 1fr  1fr 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr;
        & div {
            height: 3em !important;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
    }
}

