.hoverbubble-container {
    & .hoverbubble-trigger {
        position: relative;
        top: -10px;
        padding-left: 2px;
        display: inline-block;
        border: thin solid;
        font-size: 6pt;
        border-radius: 16px;
        width: 6px;
        height: 8px;
        z-index: 5;
        background: white;
    }

    & div {
        border: thin black solid;
        border-radius: 5px;
        background: white;
        position: fixed;
        z-index: 10;
        width: 200px;
    }
}