body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

#headerbar {
    height: 100px;
}

select.fightSelectDropDown {
    margin-top: 15px;
    vertical-align: top;
    display: inline;
    height: 70px;
}

ul.toggle_container {
    display: inline-block;
    min-height: 70px;
}

ul.toggle_container li {
    display: inline;
}

img.jobtoggle {
}

table#actionGrid {
    border: thin solid;
    width: 100%;
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

#actionGrid th {
    border-bottom: thick solid;

}

#actionGrid th, #actionGrid td {
    border-right: thin solid;
    border-collapse: collapse;
}

#actionGrid tbody td {
    border-bottom: thin solid;
}

#actionGrid th:last-of-type {
    border-right: 0;
}

#actionGrid tr:last-of-type td {
    border-bottom: 0;
}

.jobtoggle.active {
    outline: medium solid greenyellow;
    border-radius: 4px;
}

span.action {
    position: relative;
    top: -4px;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

.persistenceControl {
    position: fixed;
    top: 0pt;
    right: 0pt;
}

.persistenceControl button {
    font-size: 32pt;
}

.unreadyInfo {
    text-align: center;
    font-size: xxx-large;
}