.toggle_container {
    text-align: left;
    grid-area: jobs;
    padding: 0;
    margin: 0;
    @media (width >= 1200px) {
        & li {
            display: inline;
        }

        & span {
            display: none;
        }

        & img {
            margin: 2px;
            height: 3em;
        }

        & .active img {
            outline: greenyellow medium solid;
            border-radius: 5px;
        }
    }
    @media (width < 1200px) {
        & li {
            display: block;
        }
        & img {
            height: 1em;
        }

        & .active span:after {
            content: "✅";
        }
    }
}